.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 47px;
    height: 47px;
    background-position: -5px -5px;
}

.sprite-fb_blue {
    width: 47px;
    height: 47px;
    background-position: -5px -62px;
}

.sprite-gh {
    width: 47px;
    height: 47px;
    background-position: -5px -119px;
}

.sprite-gh_blue {
    width: 47px;
    height: 47px;
    background-position: -5px -176px;
}

.sprite-icon-bag {
    width: 36px;
    height: 34px;
    background-position: -5px -233px;
}

.sprite-icon-hat {
    width: 42px;
    height: 23px;
    background-position: -5px -277px;
}


.sprite-icon-mail {
    width: 21px;
    height: 16px;
    background-position: -5px -394px;
}

.sprite-icon-page {
    width: 26px;
    height: 32px;
    background-position: -5px -420px;
}

.sprite-icon-phone {
    width: 19px;
    height: 23px;
    background-position: -5px -462px;
}

.sprite-icon-skype {
    width: 20px;
    height: 20px;
    background-position: -5px -495px;
}

